body, html {
  height: 100%;
  margin: 0;
}
/*-------------------------backdrop----------------------*/
.cloud{
  background-color: #d0cacd;
  background-image: url(../images/cloud55.jpg);
  background-blend-mode: multiply;
  background-position: sticky;
  top: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  overflow: auto;
}
.girl-cloud-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
  border-radius: 7%;
}
/*nav bar--------------------------------------------------*/
.home{
  padding: 0 0 -150px 0;
  margin: 0 0 -150px 0;
  width:15em;
  height:10em;
}
ul{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
}

#logonav{
  margin: 0;
  padding: 0;
  float: left;
}
.li{
  float: right;
  margin: 0 20px 0 0;
  padding: 0 20px 0 0;
}
li a{
  display: block;
  color: white;
  text-align: center;
  font-family: 'Bubbler One';
  font-size: 20px;
  margin: 5px;
  text-decoration: none;
}
/*------------------------------paragraph and headers-----------------------------*/
h1{
  text-align: center;
  color: white;
  font-family: 'Bubbler One';
}
h2{
  text-align: center;
  color: #1e2c3e;
}
p{
  text-align: center;
  color: #1e2c3e
}
/* ----------------------description and images on core and tech index pages-------------*/
.even-columns{
  display: flex;
}
.thumb{
  margin: 2.5%;
  flex-basis: 100%;

}

.desc{
  padding: 10px;
  text-align: left;
  color: #fcf6eb;
}

/* ---------------------------blog post paragraph--------------------------------------------*/
.sky-para{
  max-width:700px;
  margin:0 auto 30px;
}

/*-------------------------------list id in core blogs -----------------------------------------*/
#list{
  list-style-type:square;
  padding: 15px;

}
/*-------------------------------MEDIA QUERIES---------------------*/
@media screen and (min-width: 1200px) {
  h2{text-align: center;
    color: #2a3d56;} 
  p{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 1.25rem;
      color: #141f2d;}
  .cloud{background-color: #d0cacd;}
  h2{text-align: center;
    color: #edf2f9;
    font-family:  'Bubbler One';
    font-size: 2rem;}
}


@media screen and (max-width:768px){
  h2{text-align: center;
    color: #213349;
    font-family:  'Bubbler One';
    font-size: 1.6rem;}
  p{font-family: Arial, Helvetica, sans-serif;}
}



@media screen and (max-width:320px){
  .cloud{
    background-color: #d0cacd;}
  p{
    font-family: monospace;
    font-size: 3rem;
    color: #23364e;
    padding: 16em;}
    .sky-para{
      max-width:280px;
      margin:0 auto 30px;} 
  }
